.row{
    padding: 20px;
}
div{
    background-color:rgb(97, 97, 97);
    text-align:center;
}

.descripcion{
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: center;
}

#borderDemo {
    border: 4px outset #1C6EA4;
    border-radius: 26px;
    }


#editar{
    align-items: center;
 }

/*Max-width*/
@media (max-width: 575.98px){
    #FotoPerfil{
        position:absolute;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        box-shadow: 3px 3px 2px cornflowerblue;
        left: 30%;
        top: 56%;
    }
}


@media (max-width: 425.98px){
    #FotoPerfil{
        position:absolute;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        box-shadow: 3px 3px 2px cornflowerblue;
        left: 25%;
        top: 55%;
    }
}

@media (max-width: 375.98px){
    #FotoPerfil{
        width: 0px;
    }
}

@media (max-width: 325.98px){
    #FotoPerfil{
        width: 0px;
    }
}

/*Min-Width*/
/*575*/

@media (min-width:576px){
    #FotoPerfil{
        position:absolute;
        width: 17%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 2%;
        top: 55%;
    }
}


/*768min*/

@media (min-width:768px){
    #FotoPerfil{
        position:absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 3%;
        top: 61%;
    }
}

/*992pxmin*/
@media (min-width:992px){
    #FotoPerfil{
        position:absolute;
        width: 13%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 4%;
        top: 74%;
    }
}


/*1200px min*/

@media (min-width:1200px){
    #FotoPerfil{
        position:absolute;
        width: 13%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 4%;
        top: 85%;
    }
}

@media (min-width:1300px){
    #FotoPerfil{
        position:absolute;
        width: 12%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 4%;
        top: 88%;
    }
}


/*1400px min*/

@media (min-width:1400px){
    #FotoPerfil{
        position:absolute;
        width: 11%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 7%;
        top: 98%;
    }
}