.row{
    padding: 20px;
}
div{
    background-color:rgb(97, 97, 97);
    text-align:center;
}

.descripcion{
    display:flex;
    justify-content: content-box;
    align-items: center;
}

@media (max-width:575px){
    #FotoPerfil{
        position:absolute;
        width: 36%;
        border-radius: 50%;
        box-shadow: 3px 3px 2px cornflowerblue;
        left: 30%;
        top: 38%;
    }
}

@media (min-width:576px){
    #FotoPerfil{
        position:absolute;
        width: 12%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 6%;
        top: 48%;
    }
}