<div class="title">
    <h1>Proyectos!</h1>
    <div>
        <button type="button" class="btn btn-info" routerLink="/nuevoproyecto" *ngIf="isLogged">
            Agregar Proyecto
        </button>
    </div>
    <div class="row" *ngFor="let proyecto of Proyecto">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>{{proyecto.nombre}}</h1>
            <p>{{proyecto.descripcion}}
            </p>
            <td *ngIf="isLogged">
                <button class="btn btn-dark" routerLink="/editproyecto/{{ proyecto.id }}">
                    <i class="bi bi-pencil"></i>
                    Editar
                </button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(proyecto.id)">
                    <i class="bi bi-trash"></i>Borrar</button>
            </td>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <a href={{proyecto.enlace}}><img src={{proyecto.img}} class="img-fluid img-Proye"></a>
        </div>
    </div>
</div>