.row{
    background-color:rgb(97, 97, 97);
    padding: 20px;
}

.contenedor{
    width:auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

.img-Proye{
    box-shadow: 10px 10px 30px #fff;
}