.contenedor{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.redes{
    margin-right: 1.5em;
}
#logoArgP{
    width: 150px;
}
img{
    width: 50px;
}

.btn{
    border-width: 3px;
}

/*--Version Mobile--*/

 @media (max-width:575px){
    .contenedor{
        flex-direction: column;
    }
    .redes{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.5em;
    }
 }