.row{
    padding: 20px;
}
div{
    background-color:rgb(97, 97, 97);
    text-align:center;
}

/*Style Nombre*/

#Nombre{
    font-weight: bold;
    margin-top: 30%;
}

/*Style FotoPerfil*/

/*Max-width*/
@media (max-width:575px){
    #FotoPerfil{
        position:absolute;
        width: 13%;
        border-radius: 50%;
        box-shadow: 3px 3px 2px cornflowerblue;
        left: 2%;
        top: 100%;
    }
}


/*575*/

@media (min-width:576px){
    #FotoPerfil{
        position:absolute;
        width: 15%;
        border-radius: 54%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 4%;
        top: 54%;
    }
}


/*768min*/

@media (min-width:768px){
    #FotoPerfil{
        position:absolute;
        width: 15%;
        border-radius: 54%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 4%;
        top: 104%;
    }
}

/*992pxmin*/
@media (min-width:992px){
    #FotoPerfil{
        position:absolute;
        width: 15%;
        border-radius: 54%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 4%;
        top: 4%;
    }
}


/*1200px min*/

@media (min-width:1200px){
    #FotoPerfil{
        position:absolute;
        width: 13%;
        border-radius: 54%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 6%;
        top: 100%;
    }
}

@media (min-width:1300px){
    #FotoPerfil{
        position:absolute;
        width: 13%;
        border-radius: 54%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 4%;
        top: 110%;
    }
}


/*1400px min*/

@media (min-width:1400px){
    #FotoPerfil{
        position:absolute;
        width: 14%;
        border-radius: 54%;
        box-shadow: 3px 3px 3px cornflowerblue;
        left: 3%;
        top: 112%;
    }
}