<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="FotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <P id="Nombre">Lopez Luciano Alejandro</P>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Cosas de Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Necessitatibus perferendis consequatur corporis eveniet temporibus nulla animi nesciunt! Sequi vel natus excepturi asperiores,
                 harum quas architecto cupiditate eos corporis odio id?</p>
        </span>
    </div>
</div>