<div class="col-lg-2 title"> 
    <h1>Hard and Soft Skills</h1>
    <div>
        <button type="button" class="btn btn-info" (click)="modal.showModal()" *ngIf="isLogged">
            Nueva Skill
        </button>
        <app-modals [title]="'Nueva Skill'" #modal>
            <app-new-skill></app-new-skill>
        </app-modals>
    </div>
</div>
<div class="row">
        <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
            <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [responsive]="true"
            [title]="(skill.nombre)"
            [showTitle]="true"
            [titleColor]="'#15345CD8'"
            [showSubtitle]="true"
            [subtitle]="formatSubtitle(skill.porcentaje)"
            [subtitleFontSize]="'38'"
            [subtitleFontWeight]="'38'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>        
        <div id="editar">
            <td *ngIf="isLogged">
                <button class="btn btn-dark" routerLink="/editskill/{{ skill.id }}">
                    <i class="bi bi-pencil"></i>
                </button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash"></i></button>
            </td>
        </div>
    </div>
</div>