.row{
    padding: 20px;
}
div{
    background-color:rgb(97, 97, 97);
}

h1,h3{
    display:inline;
}

#Estudios{
    text-indent: 2ex;
}

#demoFont {
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    letter-spacing: 1px;
    word-spacing: 4.2px;
    color: #382314;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}